<!--Contact Card-->
<section id="contact" class="secondary-color scrollto clearfix">
  <div class="row clearfix">
    <div class="section-heading">
      <h3>LET'S CHAT</h3>
      <h2 class="section-title">Let's Get In Contact</h2>
    </div>
    <!-- Contact Block -->
    <div>
      <h1>Contact Form</h1>
      <section class="section">
        <div class="container">
          <!-- contact form -->
          <form (ngSubmit)="sendEmail()" #contactForm="ngForm">
            <!--name-->
            <div class="field">
              <label class="label">Subject</label>
              <input
                type="text"
                name="subject"
                class="input"
                [(ngModel)]="emailData.subject"
                required
              />
            </div>
            <!--email-->
            <div class="field">
              <label class="label">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                [(ngModel)]="emailData.fromAddress"
                required
              />
            </div>
            <!--message-->
            <div class="field">
              <label class="label"> Your Message</label>
              <textarea
                name="message"
                class="textarea"
                rows="4"
                [(ngModel)]="emailData.message"
                required
              ></textarea>
            </div>
            <!--submit-->
            <button
              type="submit"
              class="button"
              [disabled]="!contactForm.valid"
            >
              Submit
            </button>
          </form>
        </div>
      </section>
    </div>

    <!-- End of Contact Block -->
  </div>
</section>
<!--End of Contact Card-->

<!-- <form (ngSubmit)="sendEmail()">
  <input
    [(ngModel)]="emailData.toAddress"
    name="to"
    placeholder="To"
    required
  />
  <input
    [(ngModel)]="emailData.subject"
    name="subject"
    placeholder="Subject"
    required
  />
  <textarea
    [(ngModel)]="emailData.message"
    name="message"
    placeholder="Message"
    required
  ></textarea>
  <button type="submit">Send Email</button>
</form> -->
