<!--Content Section-->
<div id="about" class="scrollto clearfix">
  <div class="row no-padding-bottom clearfix">
    <!--Content of the Right Side-->
    <div class="col-center">
      <div class="section-heading">
        <h3>ABOUT ME</h3>
        <h2 class="section-title">Get To Know Me Better</h2>
        <div class="section-about">
          <p class="section-subtitle">
            I am a 2020 Electrical Engineering graduate from California State
            Polytechnic University, Pomona who has been pursuing a career in
            Software Development. I focus on Microsoft's .NET Application
            Development, for the structure of the application.
          </p>

          <p>
            A lot of my learning has come from Tim Corey's Online web courses,
            allowing me to replicate production-level code. I work a lot with
            Class Libraries, SQL Server Databases, Web API, and Blazor Web App.
          </p>
          <p>
            I live in San Diego, CA, and for work, I bartend at a finer dining
            restaurant. On my days off I set goals to learn a new topic in
            Application Development. If I'm not coding, I enjoy
            entrepreneurship, reading, Brazillian Jiu Jitsu, Boxing,
            Bodybuilding, or family and friend time.
          </p>
        </div>
      </div>

      <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL)
        <a
          href="#"
          data-videoid="UYJ5IjBRlW8"
          data-videosite="youtube"
          class="button video link-lightbox"
        >
          WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
        </a> -->
    </div>
    <!--End Content Right Side-->

    <!-- <div class="col-2">
        <img
          src="../assets/images/website-portrait-small-full.png"
          alt="Self Portrait"
        />
      </div> -->
  </div>
</div>
<!--End of Content Section-->
