<!--Content Section-->
<div id="about" class="scrollto clearfix">
  <div class="row no-padding-bottom clearfix">
    <!--Content of the Right Side-->
    <div class="col-center">
      <div class="section-heading">
        <h3>ABOUT ME</h3>
        <h2 class="section-title">Get To Know Me Better</h2>
        <div class="section-about">
          <p>
            I'm pursuing a Master's in Software Engineering with a background in
            Electrical Engineering from California State Polytechnic University,
            Pomona. Currently pursuing a Certificate of Achievement in Web
            Application Development at San Diego City College, I specialize in
            TypeScript, C++, Python, REST APIs, and MongoDB. I’m passionate
            about building efficient, scalable solutions and streamlining
            workflows through automation and web development. My experience
            includes leading backend development for a Booking and User
            Management Application, where I designed APIs and collaborated with
            frontend teams to deliver projects 50% faster. As an intern software
            developer at Film Supply Club, I optimized a Shopify website,
            enhanced product management, and improved UI/UX for a better
            customer experience.
          </p>
          <br />
          <p>
            Outside of coding, I bartend in San Diego, where I’ve honed my
            teamwork, problem-solving, and customer service skills. When I’m not
            working or learning new technologies, I enjoy entrepreneurship,
            Brazilian Jiu-Jitsu, boxing, bodybuilding, and spending time with
            family and friends. I’m eager to bring my technical expertise,
            collaborative spirit, and passion for innovation to impactful
            projects.
          </p>
        </div>
      </div>

      <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL)
        <a
          href="#"
          data-videoid="UYJ5IjBRlW8"
          data-videosite="youtube"
          class="button video link-lightbox"
        >
          WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
        </a> -->
    </div>
    <!--End Content Right Side-->

    <!-- <div class="col-2">
        <img
          src="../assets/images/website-portrait-small-full.png"
          alt="Self Portrait"
        />
      </div> -->
  </div>
</div>
<!--End of Content Section-->
