* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: system-ui;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: grab;
  transition: background-color 200ms ease-out;
}
body:active {
  cursor: grabbing;
}

.scene {
  perspective: 5000px;
  position: relative;
  user-select: none;
  font-size: 5vmin;
  transform-style: preserve-3d;
  transition: transform 600ms cubic-bezier(0.25, 1, 0.5, 1);
  transform: rotateX(calc(var(--y) * -1deg)) rotateZ(calc(var(--x) / 2 * 1deg));
  transform-origin: 50% top;
}

.sphere-container {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}

.sphere {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #45c7be;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(67, 131, 209, 0.8);
  -moz-box-shadow: 0px 0px 30px 10px rgba(67, 131, 209, 0.8);
  box-shadow: 0px 0px 30px 10px rgba(67, 131, 209, 0.8);
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
