<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">
    <div class="col-38">
      <div class="section-heading">
        <h1>Hi, I'm Maximillian Mata</h1>
        <h2>
          Welcome to my portfolio website, feel free to learn more about me,
          check out my work, and get in contact with me!
        </h2>
      </div>
      <!--Call to Action-->
      <a href="#" class="button">START CREATING TODAY</a>
      <!--End Call to Action-->
    </div>
  </div>
  <!--End of Row-->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
    integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/Observer.min.js"
    integrity="sha512-Ekt5wUDNxJ5w4X3+qUnJ9bX2JQ54ZBt+r8UK4sZ8FAEmydtmujECPFHbX9IMsh4Ax4dMafL6kHLxC4HB0lK48A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</header>
