<!--Introduction-->
<section id="projects" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3>SUCCESS</h3>
        <h2 class="section-title">Software I Have Worked With</h2>
        <p class="section-subtitle">
          These are the software tools I have worked the most most closley with
          and will continue to learn more about.
        </p>
      </div>
    </div>

    <div class="col-2-3">
      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa-brands fa-node fa-3x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Node.js</h4>
          <p>
            Building backends and RESTful APIs is my bread and butter! Node.js
            allows me to develop server-side applications for modern web
            development.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa-brands fa-jira fa-3x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Jira</h4>
          <p>
            Using Jira to track project progress, streamline workflows, and
            collaborate effectively with teams. It's my go-to tool for agile
            project management.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa-solid fa-database fa-3x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>MongoDB</h4>
          <p>
            Designing and managing NoSQL databases is where I shine. MongoDB is
            my choice for flexible and scalable data solutions, perfect for
            modern applications.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa-brands fa-react fa-3x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>React</h4>
          <p>
            Crafting responsive and dynamic user interfaces is my passion, and
            React gives me the tools to build seamless, component-driven web
            applications with ease.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->
    </div>
  </div>
</section>
<!--End of Introduction-->
